<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Xác nhận có xóa thông tin xe!!</h5>
    </div>
    <div class="modal-body">
      <p>Bạn có đồng ý xóa thông tin của xe khách có số xe <span style="color:red;">{{code}}</span>?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Không</button>
      <button type="button" class="btn btn-primary" (click)="delete()">Có</button>
    </div>
  </div>
</div>


