<div class="container-fluid bg-light border ">
  <div class="col-lg-12 pt-3 pb-3">
    <div>
      <!---->

      <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">Information : </h4>
        <div>
          <div class="card mb-3" style="width: 70%;margin:20px 15%">
            <div class="row no-gutters">
              <div class="col-md-6">
                <img src="https://vnn-imgs-f.vgcloud.vn/2018/11/14/18/co-nhung-khi-khach-hang-khong-phai-la-thuong-de.jpg"
                     style="width: 100%">
              </div>
              <div class="col-md-6">
                <div class="card-body">

                  <table style="text-align: center;width: 90%">
                    <tr><h5 class="card-title" th:text="${customer.customerCode}"
                            style="text-align: center"></h5></tr>
                    <tr>
                      <td>Code :</td>
                      <td th:text="${customer.customerCode}"></td>
                    </tr>
                    <tr>
                      <td>Type:</td>
                      <td th:text="${customer.customerType.customerTypeName}"></td>
                    </tr>
                    <tr>
                      <td>Name :</td>
                      <td th:text="${customer.customerName}"></td>
                    </tr>
                    <tr>
                      <td>Birthday:</td>
                      <td th:text="${customer.customerBirthday}"></td>
                    </tr>

                    <tr>
                      <td>Gender:</td>
                      <td>
                        <p style="margin-top: 8px" th:if="${customer.customerGender}==1">
                          Male</p>
                        <p style="margin-top: 8px" th:if="${customer.customerGender}==2">
                          Female</p>
                        <p style="margin-top: 8px" th:if="${customer.customerGender}==3">
                          LGBT</p>
                      </td>
                    </tr>


                    <tr>
                      <td>Id Card :</td>
                      <td th:text="${customer.customerIdCard}"></td>
                    </tr>


                    <tr>
                      <td>Phone:</td>
                      <td th:text="${customer.customerPhone}"></td>
                    </tr>


                    <tr>
                      <td>Email :</td>
                      <td th:text="${customer.customerEmail}"></td>
                    </tr>


                    <tr>
                      <td>Address :</td>
                      <td th:text="${customer.customerAddress}"></td>
                    </tr>

                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="mb-0" style="margin-left: 80%">

          <a th:href="@{/customer}">
            <!--                    <a href="/customer">-->
            <button type="button" class="btn btn-warning m-2">Back Home</button>
          </a>
        </div>
      </div>

      <!---->
    </div>
  </div>
</div>


<footer class="bg-light text-center text-dark h-25">

  <div class="text-center p-3" style="background-color: black">
    <p style="color: snow">103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City,
      Vietnam</p>
    <p style="color: red">Phone: 84-236-3847 333/888</p>
  </div>

</footer>
