<div class="container mt-2">
  <h2 class="text-center">Add New Service</h2>
  <form [formGroup]="createForm" (ngSubmit)="createService()">
    <div class="form-group">
      <label>Customer code :</label>
      <input formControlName="code" class="form-control" type="text" name="code" aria-describedby="code">
      <p class="text-danger"
         *ngIf="createForm.controls.code.hasError('required')
         && createForm.controls.code.dirty">
        Please Input !!!
      </p>
      <p class="text-danger"
         *ngIf="createForm.controls.code.hasError('pattern')">
        Mã Dịch vụ có định dạng là DV-XXXX (X là số từ 0-9)
      </p>

      <label class="mt-2">Service Type :</label>
      <select formControlName="serviceType" class="form-control">
        <option value="" selected>--Choose Service Type--</option>
        <option *ngFor=" let serviceType of serviceTypes" [ngValue]="serviceType">{{serviceType.name}}</option>
      </select>
      <p class="text-danger"
         *ngIf="createForm.controls.serviceType.hasError('required')
         && createForm.controls.serviceType.dirty">
        Please Input !!!
      </p>

      <label class="mt-2">name :</label>
      <input formControlName="name" class="form-control" type="text" name="name">
      <p class="text-danger"
         *ngIf="createForm.controls.name.hasError('required')
         && createForm.controls.name.dirty">
        Please Input !!!
      </p>

      <label class="mt-2">Area :</label>
      <input formControlName="area" class="form-control" type="text" name="birthday">
      <p class="text-danger"
         *ngIf="createForm.controls.area.hasError('required')
         && createForm.controls.area.dirty">
        Please Input !!!
      </p>
      <p class="text-danger"
         *ngIf="createForm.controls.area.hasError('min')">
        vui lòng nhập số dương
      </p>

      <label class="mt-2">Number Of Floors :</label>
      <input formControlName="numberOfFloors" class="form-control" type="text" name="idCard" aria-describedby="idCard">
      <p class="text-danger"
         *ngIf="createForm.controls.numberOfFloors.hasError('required')
         && createForm.controls.numberOfFloors.dirty">
        Please input !!!
      </p>
      <p class="text-danger"
         *ngIf="createForm.controls.numberOfFloors.hasError('min')">
        Vui lòng nhập số dương
      </p>

      <label class="mt-2">Max People :</label>
      <input formControlName="maxPeople" class="form-control" type="text" name="phone" aria-describedby="phone">
      <p class="text-danger"
         *ngIf="createForm.controls.maxPeople.hasError('required')
         && createForm.controls.maxPeople.dirty">
        Please Input !!!
      </p>
      <p class="text-danger"
         *ngIf="createForm.controls.maxPeople.hasError('min')">
        Vui lòng nhập số dương
      </p>

      <label class="mt-2">cost :</label>
      <input formControlName="cost" class="form-control" type="text" name="email" aria-describedby="email">
      <p class="text-danger"
         *ngIf="createForm.controls.cost.hasError('required')
         && createForm.controls.cost.dirty">
        Please Input !!!
      </p>
      <p class="text-danger"
         *ngIf="createForm.controls.cost.hasError('min')">
        Vui lòng nhập số dương
      </p>

      <label class="mt-2">Standard Room :</label>
      <input formControlName="standardRoom" class="form-control" type="text" name="address">
      <p class="text-danger"
         *ngIf="createForm.controls.standardRoom.hasError('required')
         && createForm.controls.standardRoom.dirty">
        Please Input !!!
      </p>

      <label class="mt-2">Description :</label>
      <input formControlName="description" class="form-control" type="text" name="address">
      <p class="text-danger"
         *ngIf="createForm.controls.description.hasError('required')
         && createForm.controls.description.dirty">
        Please Input !!!
      </p>

      <div class="mt-2" style="text-align: center">
        <input class="btn btn-success" type="submit" value="Create" [disabled]="createForm.invalid"> |
        <a class="btn btn-dark" [routerLink]="'/service-list'" role="button">Back</a>
      </div>
      <br />
    </div>
  </form>
</div>
