<div class="container-fluid bg-light border ">
  <div class="row">

    <div class="col-lg-2 border-right">
      <div>
        <div class="card m-3">
          <img src="https://media-cdn.laodong.vn/Storage/NewsPortal/2020/4/24/800848/Ben-Xe-Vang-Khach-14.jpg"
               class="card-img-top"
               alt="..." style="height: 130px">
          <div class="card-body">
            <p style="text-align: center;font-weight: bold">Chỗ ngồi chờ thoải mái</p>
          </div>
        </div>
        <div class="card m-3">
          <img src="https://znews-photo.zadn.vn/w660/Uploaded/qxjwpprjv/2020_09_06/benxedanang0003.jpg"
               class="card-img-top"
               alt="..." style="height: 130px">
          <div class="card-body">
            <p style="text-align: center;font-weight: bold">"Xe chất lượng tốt"</p>
          </div>
        </div>
        <div class="card m-3">
          <img src="https://znews-photo.zadn.vn/w660/Uploaded/iutmtn/2017_06_20/UberGrab1.jpg"
               class="card-img-top" alt="..." style="height: 130px">
          <div class="card-body">
            <p style="text-align: center;font-weight: bold">Dễ bắt xe trung chuyển</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-10 pt-3 pb-3">
      <div class="row">
        <h1 style="margin: 0 auto ;color: green" class="text-center p-3">Bến xe Đà Nẵng</h1>
        <p style="margin: 0 auto;font-weight: bold">Đến Đà Nẵng, ngoài việc đi bằng máy bay, tàu hỏa thì xe khách cũng
          là phương tiện được rất nhiều du khách lựa chọn, ở các bến xe Đà Nẵng bạn có thể tìm cho mình rất nhiều các
          nhà xe với những lộ trình đi tới nhiều tỉnh thành trên cả nước, điều đó khiến xe khách trở thành một trong
          những phương tiện đem lại sự thuận tiện cho những chuyến đi xa.</p>
        <img src="https://media.baodautu.vn/Images/viethuong/2021/05/12/bx.jpg"
             style="width: 100%">
      </div>
    </div>
  </div>
</div>

