


<div th:replace="homePage :: cana"></div>

<div class="container-fluid bg-light border ">
  <div class="container">
    <form th:object="${customerDto}" action="/customer/create" method="post">
      <div class="alert alert-info m-5" role="alert">
        <h4 class="alert-heading">Please enter the information !</h4>

        <hr>

        <label class="col-md-4 control-label ">Code:</label>
        <div class="input-group mb-2">
          <input type="text" th:field="*{customerCode}" class="form-control"/>
        </div>
        <div th:if="${#fields.hasErrors('customerCode')}" th:errors="*{customerCode}"
             style="color: red">Error
        </div>

        <label class="col-md-4 control-label ">Type:</label>
        <div class="input-group mb-2">
          <select class="form-control" th:field="*{customerType}">
            <option th:each="item : ${customerList}" th:value="${item.customerTypeId}"
                    th:text="${item.customerTypeName}">
            </option>
          </select>
        </div>

        <label class="col-md-4 control-label ">Name:</label>
        <div class="input-group mb-2">
          <input type="text" th:field="*{customerName}" class="form-control"/>
        </div>
        <div th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"
             style="color: red">Error
        </div>

        <label class="col-md-4 control-label ">BirthDay</label>
        <div class="input-group mb-2">
          <input type="date" th:field="*{customerBirthday}" class="form-control"/>
        </div>
        <div th:if="${#fields.hasErrors('customerBirthday')}" th:errors="*{customerBirthday}"
             style="color: red">Error
        </div>

        <label class="col-md-4 control-label ">Gender</label>
        <div class="input-group mb-2">
          <select class="form-control" th:field="*{customerGender}">
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">LGBT</option>
          </select>
        </div>

        <label class="col-md-4 control-label ">Id Card</label>
        <div class="input-group mb-2">
          <input type="text" th:field="*{customerIdCard}" class="form-control"/>
        </div>
        <div th:if="${#fields.hasErrors('customerIdCard')}" th:errors="*{customerIdCard}"
             style="color: red">Error
        </div>

        <label class="col-md-4 control-label ">Phone</label>
        <div class="input-group mb-2">
          <input type="text" th:field="*{customerPhone}" class="form-control"/>
        </div>
        <div th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}"
             style="color: red">Error
        </div>

        <label class="col-md-4 control-label ">Email</label>
        <div class="input-group mb-2">
          <input type="text" th:field="*{customerEmail}" class="form-control"/>
        </div>
        <div th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}"
             style="color: red">Error
        </div>

        <label class="col-md-4 control-label ">Address</label>
        <div class="input-group mb-2">
          <input type="text" th:field="*{customerAddress}" class="form-control"/>
        </div>
        <div th:if="${#fields.hasErrors('customerAddress')}" th:errors="*{customerAddress}"
             style="color: red">Error
        </div>

        <hr>

        <div>
          <div style=" display:inline-block;margin-left: 550px">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>

          <div style=" display:inline-block">
            <a th:href="@{/customer}">
              <button type="button" class="btn btn-primary">Cancel</button>
            </a>
          </div>
        </div>

      </div>

    </form>
  </div>
</div>

<footer th:replace="homePage :: end"></footer>
