<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Xem kĩ trước khi xóa nhé!</h5>
    </div>
    <div class="modal-body">
      <p>Bạn có muốn xóa xuất chiếu có mã là : <span style="color:red;">{{code}}</span>?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">close</button>
      <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
    </div>
  </div>
</div>
