<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap4/css/bootstrap.css">

</head>
<body>

<!--<header class="container-fluid bg-light d-flex sticky-top">-->
<!--    <div class="col-lg-10">-->
<!--        <img width="60px" height="60px" src="/image/furamalogo.png">-->
<!--    </div>-->
<!--    <div class="col-lg-2 d-flex justify-content-end">-->
<!--        <p style="margin-top: 14px;color: #005cbf">HELLO!</p>-->
<!--    </div>-->
<!--</header>-->

<header th:replace="homePage :: header"></header>


<div th:replace="homePage :: cana"></div>

<div class="container-fluid bg-light border ">
    <div class="container">

        <form th:object="${serviceDto}" action="/service/create" method="post">
            <div class="alert alert-info m-5" role="alert">
                <h4 class="alert-heading">Please enter the information !</h4>

                <hr>


                <label class="col-md-4 control-label ">Code:</label>
                <div class="input-group mb-2">
                    <input type="text" th:field="*{serviceCode}" class="form-control"/>
                </div>
                <div th:if="${#fields.hasErrors('serviceCode')}" th:errors="*{serviceCode}"
                     style="color: red">Error
                </div>


                <label class="col-md-4 control-label ">Name:</label>
                <div class="input-group mb-2">
                    <input type="text" th:field="*{serviceName}" class="form-control"/>
                </div>
                <div th:if="${#fields.hasErrors('serviceName')}" th:errors="*{serviceName}"
                     style="color: red">Error
                </div>

                <label class="col-md-4 control-label ">Area</label>
                <div class="input-group mb-2">
                    <input type="text" th:field="*{serviceArea}" class="form-control"/>
                </div>
                <div th:if="${#fields.hasErrors('serviceArea')}" th:errors="*{serviceArea}"
                     style="color: red">Error
                </div>


                <label class="col-md-4 control-label ">Cost</label>
                <div class="input-group mb-2">
                    <input type="text" th:field="*{serviceCost}" class="form-control"/>
                </div>
                <div th:if="${#fields.hasErrors('serviceCost')}" th:errors="*{serviceCost}"
                     style="color: red">Error
                </div>

                <label class="col-md-4 control-label ">Max People</label>
                <div class="input-group mb-2">
                    <input type="text" th:field="*{serviceMaxPeople}" class="form-control"/>
                </div>
                <div th:if="${#fields.hasErrors('serviceMaxPeople')}" th:errors="*{serviceMaxPeople}"
                     style="color: red">Error
                </div>

                <label class="col-md-4 control-label ">Standard Room</label>
                <div class="input-group mb-2">
                    <input type="text" th:field="*{standardRoom}" class="form-control"/>
                </div>
                <div th:if="${#fields.hasErrors('standardRoom')}" th:errors="*{standardRoom}"
                     style="color: red">Error
                </div>

                <label class="col-md-4 control-label ">Description</label>
                <div class="input-group mb-2">
                    <input type="text" th:field="*{descriptionOtherConvenience}" class="form-control"/>
                </div>
                <div th:if="${#fields.hasErrors('descriptionOtherConvenience')}"
                     th:errors="*{descriptionOtherConvenience}"
                     style="color: red">Error
                </div>

                <label class="col-md-4 control-label ">Pool Area</label>
                <div class="input-group mb-2">
                    <input type="text" th:field="*{poolArea}" class="form-control"/>
                </div>
                <div th:if="${#fields.hasErrors('poolArea')}" th:errors="*{poolArea}"
                     style="color: red">Error
                </div>


                <label class="col-md-4 control-label ">Number Of Floor</label>
                <div class="input-group mb-2">
                    <input type="text" th:field="*{numberOfFloor}" class="form-control"/>
                </div>
                <div th:if="${#fields.hasErrors('numberOfFloor')}" th:errors="*{numberOfFloor}"
                     style="color: red">Error
                </div>




                <label class="col-md-4 control-label ">Rent Type:</label>
                <div class="input-group mb-2">
                    <select class="form-control" th:field="*{rentType}">
                        <option th:each="item : ${rentTypeList}" th:value="${item.rentTypeId}"
                                th:text="${item.rentTypeName}">
                        </option>
                    </select>
                </div>


                <label class="col-md-4 control-label ">Service Type:</label>
                <div class="input-group mb-2">
                    <select class="form-control" th:field="*{serviceType}">
                        <option th:each="item : ${serviceTypeList}" th:value="${item.serviceTypeId}"
                                th:text="${item.serviceTypeName}">
                        </option>
                    </select>
                </div>

                <hr>

                <div>
                    <div style=" display:inline-block;margin-left: 550px">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>

                    <div style=" display:inline-block">
                        <a th:href="@{/service}">
                            <button type="button" class="btn btn-primary">Cancel</button>
                        </a>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>

<footer th:replace="homePage :: end"></footer>

</body>
</html>







































